//===================================================================================
.page {
	// .page__hero
	&__hero {
	}
	// .page__about
	&__about {
	}
	// .page__products
	&__products {
	}
}
//===================================================================================
//===================================================================================
.hero {
	background: #f6d790;
	// .hero__title
	&__title {
		padding-top: toRem(50);
		padding-bottom: toRem(30);
		font-size: toRem(50);
		font-weight: 900;
		color: red;
		background: #adf690;
		text-align: center;
	}
}
//===================================================================================
//===================================================================================
// .page__about
.about {
	@include adaptiveValue("padding-top", 85, 40);
	@include adaptiveValue("padding-bottom", 57, 30);
	// .about__container
	&__container {
	}
	// .about__content
	&__content {
		@include adaptiveValue("padding-bottom", 75, 30);
	}
	// .about__row
	&__row {
		display: flex;
		align-items: center;
		// gap: toRem(45);
		@include adaptiveValue("gap", 45, 20);
		@include adaptiveValue("margin-bottom", 70, 30);
		@media (max-width: $tablet) {
			display: block;
		}
	}
	// .about__column-image
	&__column-image {
		flex: 0 1 53.31%;
	}
	// .about__column
	&__column {
		flex: 0 1 46.69%;
		// background: #b4b8af;
	}
	// .about__image-ibg
	&__image-ibg {
		// background: lightgray 50% / cover no-repeat;
		padding-bottom: 67.5%; /* 554/830 */
		// @media (max-width:$tablet){
		// 	width: 100%;
		// }
	}
	// .about__body

	&__body {
		max-width: toRem(500);
		margin: 0 auto;
		@media (max-width: $tablet) {
			margin-bottom: toRem(30);
		}
	}
	// .about__subtitle
	&__subtitle {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .about__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .about__blockquote
	&__blockquote {
		font-style: italic;
		line-height: 168.75%; /* 27/16 */
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .about__text
	&__text {
		max-width: toRem(458);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .about__button
	&__button {
	}
	// .about__btn
	&__btn {
	}
	// .about__pet-items
	&__pet-items {
		max-width: toRem(1240);
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
		@media (max-width: $mobileSmall) {
			flex-wrap: wrap;
			gap: toRem(30);
			justify-content: center;
		}
	}
	// .about__pet-column
	&__pet-column {
		margin: 0 auto;
	}
	// .about__pet-item
	&__pet-item {
		// max-width: toRem(160);
		// background: #b3b2b2;
		display: flex;
		flex-direction: column;
	}
	// .about__pet-circle
	&__pet-circle {
		margin: 0 auto;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 29, 15);
		}
	}
	// .about__image
	&__image {
		left: 0;
		right: 0;
		@include adaptiveValue("width", 140, 90);
		@include adaptiveValue("height", 140, 90);
		border-radius: 50%;
		background: $pageColor;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			@include adaptiveValue("width", 87, 53);
			@include adaptiveValue("height", 60, 40);
			max-width: 100%;
		}
	}
	// .about__name
	&__name {
		font-family: "Italiana";
		// font-size: toRem(24);
		@include adaptiveValue("font-size", 24, 16);
		text-transform: capitalize;
		text-align: center;
		font-feature-settings:
			"clig" off,
			"liga" off;
	}
}

//===================================================================================
//===================================================================================
// .page__products
.products {
	background: #defdd2;
	// .products__container
	&__container {
		@include adaptiveValue("margin-bottom", 54, 30);
	}
	// .products__block-header
	&__block-header {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 30);
		}
	}

	// .products__items
	&__items {
		background: #dbdada;

		// display: grid;
		// grid-template-columns: repeat(4, 1fr);
		// @media (max-width: 1100px) {
		// 	// grid-template-columns: auto;
		// }
		// &:not(:last-child) {
		// 	margin-bottom: toRem(25);
		// }

		display: grid;
		@include adaptiveValue("gap", 60,30, 0, 1920, 992);
		grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 56, 20);
		}
		@media (max-width: $mobileSmall) {
			grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
		}
	}
	// .products__item
	&__item {
	}
	// .products__button
	&__button {
		display: flex;
		justify-content: center;
	}
	// .products__btn
	&__btn {
	}
}

.block-header {
	display: grid;
	// aspect-ratio: 352/ 319;
	max-width: toRem(458);
	margin: 0 auto;
	// .block-header--center
	&--center {
	}
	// .block-header__subtitle
	&__subtitle {
	}
	// .block-header__title
	&__title {
	}
	// .block-header__text
	&__text {
	}
}

.item-product {
	background: #cda0a0;
	// .item-product__pet
	&__pet {
	}
	// .item-product__rating
	&__rating {
	}
}

.pet-product {
	&:not(:last-child) {
		margin-bottom: toRem(15);
	}
	// .pet-product__image
	&__image-ibg {
		border: 1px solid #9d875c;
		background: #bbb6a8;
		padding-bottom: 100%; /* 352/352 */
		object-fit: cover;
		&:not(:last-child) {
			margin-bottom: toRem(34);
		}
		// .pet-product__image--1
		&--1 {
		}
		// .pet-product__image--2
		&--2 {
		}
		// .pet-product__image--3
		&--3 {
		}
		// .pet-product__image--4
		&--4 {
		}
	}
	// .pet-product__body
	&__body {
		display: flex;
		justify-content: space-between;
		color: $mainColor;
		font-family: "Italiana";
		font-size: toRem(24);
		text-transform: capitalize;
	}
	// .pet-product__title
	&__title {
	}
	// .pet-product__price
	&__price {
	}
}

.rating {
	// .rating__body
	&__body {
	}
	// .rating__active
	&__active {
	}
	// .rating__items
	&__items {
	}
	// .rating__item
	&__item {
	}
	// .rating__value
	&__value {
	}
}

.rating_set {
}
.button {
}
