//===================================================================================
.page {
	// .page__hero
	&__hero {
	}
	// .page__about
	&__about {
	}
}
//===================================================================================
//===================================================================================
.hero {
	// .hero__title
	&__title {
		padding-top: toRem(50);
		padding-bottom: toRem(30);
		font-size: toRem(50);
		font-weight: 900;
		color: red;
		background: #adf690;
		text-align: center;
	}
}
//===================================================================================
//===================================================================================
// .page__about
.about {
	@include adaptiveValue("padding-top", 85, 40);
	@include adaptiveValue("padding-bottom", 57, 30);
	// .about__container
	&__container {
	}
	// .about__content
	&__content {
		@include adaptiveValue("padding-bottom", 75, 30);
	}
	// .about__row
	&__row {
		display: flex;
		align-items: center;
		// gap: toRem(45);
		@include adaptiveValue("gap", 45, 20);
		@include adaptiveValue("margin-bottom", 70, 30);
		@media (max-width: $tablet) {
			display: block;
		}
	}
	// .about__column-image
	&__column-image {
		flex: 0 1 53.31%;
	}
	// .about__column
	&__column {
		flex: 0 1 46.69%;
		// background: #b4b8af;
	}
	// .about__image-ibg
	&__image-ibg {
		// background: lightgray 50% / cover no-repeat;
		padding-bottom: 67.5%; /* 554/830 */
		// @media (max-width:$tablet){
		// 	width: 100%;
		// }
	}
	// .about__body

	&__body {
		max-width: toRem(500);
		margin: 0 auto;
		@media (max-width: $tablet) {
			margin-bottom: toRem(30);
		}
	}
	// .about__subtitle
	&__subtitle {
		line-height: 156.25%; /* 25/16 */
		text-transform: capitalize;
		line-height: 187.5%; /* 30/16 */
		font-feature-settings:
			"clig" off,
			"liga" off;
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .about__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .about__blockquote
	&__blockquote {
		font-style: italic;
		line-height: 168.75%; /* 27/16 */
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .about__text
	&__text {
		max-width: toRem(458);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .about__button
	&__button {
	}
	// .about__btn
	&__btn {
	}
	// .about__pet-items
	&__pet-items {
		max-width: toRem(1240);
		display: flex;
		margin: 0 auto;
		// justify-content: space-evenly;
		// justify-content: space-around;
		justify-content: space-between;
		@media (max-width: $mobileSmall) {
			flex-wrap: wrap;
			gap: toRem(30);
			justify-content: center;
		}

		// display: grid;
		// grid-template-columns: repeat(3, 1fr);
		// justify-items: center;
	}
	// .about__pet-column
	&__pet-column {
		margin: 0 auto;
	}
	// .about__pet-item
	&__pet-item {
		// max-width: toRem(160);
		// background: #b3b2b2;
		display: flex;
		flex-direction: column;
	}
	// .about__pet-circle
	&__pet-circle {
		margin: 0 auto;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 29, 15);
		}
	}
	// .about__image
	&__image {
		left: 0;
		right: 0;
		// width: toRem(140);
		@include adaptiveValue("width", 140, 90);
		// height: toRem(140);
		@include adaptiveValue("height", 140, 90);
		border-radius: 50%;
		background: $pageColor;
		display: flex;
		align-items: center;
		justify-content: center;
		// &:not(:last-child) {
		// 	@include adaptiveValue("margin-bottom", 29, 15);
		// }
		@media (max-width: $mobile) {
			// width: toRem(100);
			// height: toRem(100);
		}
		img {
			// width: toRem(80);
			// height: toRem(67);
			@include adaptiveValue("width", 87, 53);
			@include adaptiveValue("height", 60, 40);
			max-width: 100%;
		}
	}
	// .about__name
	&__name {
		font-family: "Italiana";
		// font-size: toRem(24);
		@include adaptiveValue("font-size", 24, 16);
		text-transform: capitalize;
		text-align: center;
		font-feature-settings:
			"clig" off,
			"liga" off;
	}
}

//===================================================================================
//===================================================================================
